The purpose of the “app” will be to provide a tool for fitting histograms to statistical data. The interface should include:

A way for users to enter data. This should include:
A data entry area for users to enter data by hand
An option to upload data in the form of a CSV file
The ability to fit multiple different types of distributions, such as normal, gamma, weibull, and other miscillaneous types.
Each distribution object in scipy has a fitting function, which returns the relevant parameters.
Your app should provide at least 10 different options
A visualization of the data and the fitted distribution (i.e. a graph)
An output area that shows the fitting parameters with some information about the quality of the fit (e.g. average error or maximum error between data and curve).
The app should also provide a ‘manual fitting’ option, where users can adjust sliders to control the various parameters of the current distribution.